@import "../../../styling/component";

@mixin Carousel__ {
  @include flexbox(flex, 0, center, center);
  width: 100%;
  border: 1px solid white;
  color: white;
}

@mixin Carousel__wrapper {
  margin: 1rem;
}

@mixin Code-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem auto;
}
