@import "../../../styling/component";

@mixin CodeBlock__pre {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 1em;
}

@mixin CodeBlock__code {
  border: 1px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: fit-content;
  text-wrap: balance;
  padding: 1em;
}

@mixin CodeBlock__btn {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  border: none;
  margin-inline: 0.25em;
  margin-block: 0.25em auto;
  padding: 1em;
}

@mixin svg {
  width: 2rem;
  height: 2rem;
  background: black;
}

@mixin path {
  color: white;
}
